In [14]:
import pandas as pd

# Load the CSV file
file_path = 'all_trades_detailed.csv'
data = pd.read_csv(file_path)

# Filter out the relevant columns
filtered_data = data[['Fast Period', 'Slow Period', 'profit']]

# Group by Fast Period and Slow Period and calculate the statistics
grouped_stats = filtered_data.groupby(['Fast Period', 'Slow Period']).agg(
    total_profit=('profit', 'sum'),
    mean_profit=('profit', 'mean'),
    median_profit=('profit', 'median'),
    min_profit=('profit', 'min'),
    max_profit=('profit', 'max'),
    total_trades=('profit', 'count'),
    profitable_trades=('profit', lambda x: (x > 0).sum())
).reset_index()

# Calculate the percentage of profitable trades
grouped_stats['percentage_profitable'] = (grouped_stats['profitable_trades'] / grouped_stats['total_trades']) * 100


# Display the grouped statistics
grouped_stats

,Fast Period,Slow Period,total_profit,mean_profit,median_profit,min_profit,max_profit,total_trades,profitable_trades,percentage_profitable
0,22,100,-1.803028e+06,-6727.715795,-10145.675247,-26893.800869,173662.369766,268,40,14.925373
1,22,150,-6.409229e+05,-12092.885546,-13877.400524,-27383.000000,6581.299622,53,2,3.773585
2,22,200,-2.180440e+04,-3634.066722,-5353.499872,-7731.400951,2866.499405,6,2,33.333333
3,30,100,-1.023958e+06,-4633.292619,-10271.750000,-28517.500629,153276.003677,221,47,21.266968
4,30,150,-3.746251e+05,-12084.681844,-13780.799801,-27014.399902,17532.001648,31,4,12.903226
5,50,100,4.020108e+05,2323.761779,-6541.500000,-29205.999985,487976.800735,173,60,34.682081
6,50,150,-1.563367e+05,-5390.920859,-15351.000000,-28327.950623,75901.496966,29,9,31.034483

In [13]:
filtered_data

     Fast Period  Slow Period        profit
0             22          100 -16110.899300
1             30          100 -11080.651188
2             50          100 -24316.799545
3             22          100 -19504.990578
4             30          100   2107.405910
..           ...          ...           ...
776           30          100 -21116.899704
777           30          150 -12591.150982
778           30          150 -13717.098602
779           30          100  15534.800835
780           50          100  71476.902191

[781 rows x 3 columns]

In [11]:
print(f)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7fe578e05bb0>